@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
}

/* -----------------------Home section----------------------- */

#home {
    max-height: 110vh;
    overflow-y: hidden;
}

#top-home {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    background: linear-gradient(to top, #ED8FEF -20%, #8DD6FF);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    overflow: hidden;
    z-index: 10;
}

.navbar {
    z-index: 20;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

#nav-brand-container {
    list-style-type: none;
}

.navbar-brand {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.cloud-wrapper {
    width: 200px;
    height: 50px;
    position: absolute;
    /* top: 80px; */
    top: 10vh;
    left: 0;
    animation-name: cloudAnim;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
}

.cloud-wrapper img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

@keyframes cloudAnim {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

.mountain-wrapper {
    /* dimensions: 820px x 462px */
    position: absolute;
    bottom: -100%;
    /* left: 0; */
    right: calc(100% - 410px);
    height: 231px;
    width: 410px;
    transform: rotate(5deg);
    animation-name: mountainAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

@keyframes mountainAnim {
    from {
        bottom: -100%;
    }

    to {
        bottom: -25%;
    }
}

@keyframes mountainAnim2 {
    from {
        bottom: -100%;
    }

    to {
        bottom: -20%;
    }
}

@media screen and (min-width: 500px) {
    .mountain-wrapper {
        right: 0;
        height: calc(231px * 1.5);
        width: calc(410px * 1.5);
        /* bottom: -10%; */
    }
}

@media screen and (min-height: 1000px) {
    .mountain-wrapper {
        animation-name: mountainAnim2;
    }
}

.mountain-wrapper img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image {
    height: 100%;
    width: 100%;
    background: url("../images/mountains_out2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

#hero-section {
    position: relative;
    top: -10vh;
    left: 0;
    width: 100%;
    height: 65vh;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.section-text h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #0049b7;
    overflow: hidden;
}

.hero {
    width: 60%;
    height: 30vh;
}

@media screen and (min-width: 500px) {
    .hero {
        width: 300px;
    }
}

.hero img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bottom-home {
    position: relative;
    top: -20vh;
    left: 0;
    width: 100%;
    height: 30vh;
    /* background: linear-gradient(to bottom right, #005DE8, #551F9A 110%); */
    background: linear-gradient(to bottom right, #005DE8, #002358 110%);
    clip-path: polygon(0 25%, 100% 0, 100% 80%, 0 100%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-home h5 {
    width: 100%;
    height: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}



/* -----------------------Tips section----------------------- */

#tips {
    position: relative;
    top: -10vh;
    min-height: 100vh;
    padding: 100px 2%;
    width: 100%;
    /* background-color: #ddd; */
    /* background: linear-gradient(to bottom, #005DE8, #551F9A 70%); */
    /* background: linear-gradient(to bottom, #005DE8,  #7DF9FF 200%); */
    background: linear-gradient(to bottom, #004fe2, #70a2ff 200%);
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.circular-img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
}

.circular-img img {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tips-text {
    padding: 10px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 20px;
}

.tips-text h2 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.tips-text h4 {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}



/* -----------------------Equipment section----------------------- */

#equipment {
    position: relative;
    top: -10vh;
    min-height: 100vh;
    padding: 50px 2%;
    width: 100%;
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
}



/* -----------------------Contact section----------------------- */

#contact {
    position: relative;
    top: -10vh;
    min-height: 100vh;
    padding: 50px 2%;
    width: 100%;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* -----------------------Contact section----------------------- */

footer {
    width: 100%;
    height: 20vh;
    padding: 50px 2%;
    background-color: #222;
    color: white;
    font-family: 'Poppins', sans-serif;
}
